/* Estilizações globais */
body {
    margin: 0;
    padding: 0;
    background-color: #040828;
    color: white;
    font-family: 'Poppins', sans-serif;
}

/* Estilização da barra de rolagem */
body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, rgb(18, 18, 233), rgb(16, 16, 153), rgb(10, 10, 129));
}

/* Estilização do cabeçalho */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

/* Estilização da checkbox de favoritos */
.checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

/* Estilização da barra de busca */
#divBusca {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

#txtBusca {
    padding: 10px;
    border-radius: 12px;
    font-size: 18px;
    background-color: #7c7c7c2b;
    color: #ffffff;
    border: none;
    width: 100%;
    max-width: 500px;
}

#txtBusca:focus{
    outline: rgb(8, 19, 108);
}

#search {
    border: none;
    outline: none;
    padding: 10px;
    margin-left: 10px;
    border-radius: 50px;
    background-color: #7c7c7c2b;
    cursor: pointer;
}

#search:hover {
    background-color: #7c7c7c6b;
}

.lupa {
    height: 20px;
}

/* Estilização dos filmes */
#movie {
    display: flex;
    background-color: #070c30;
    padding: 20px;
    border-radius: 10px;
    opacity: 0.8;
    max-width: 800px;
    box-shadow: -8px 4px 47px -4px rgb(8, 19, 108);
    margin: 20px auto;
}

#img-movie {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
}

#movie-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding-right: 10px;
}

#informations-movie {
    margin-top: 10px;
    text-align: center;
    color: #fff;
}

.preferences {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 5px;
}

#star {
    width: 20px;
    height: auto;
}

.favorite-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.favorite-btn img {
    width: 20px;
    height: auto;
}

#description {
    color: #ffffff8a;
    flex: 1;
    margin-left: 20px;
    text-align: justify;
}

/* Estilização do rodapé */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* Responsividade */
@media (max-width: 768px) {
    #movie {
        flex-direction: column;
        align-items: center;
    }

    #img-movie {
        margin-bottom: 20px;
    }

    #description {
        display: none;
    }

    #txtBusca {
        width: 80%;
    }

    #search {
        margin-left: 5px;
    }
}
